p, h1, h2{
    color: rgba(0, 0, 0, 1);
    
}
#start-mad-lib {
    align-items: right;
    align-self: right;
}

input:hover {
    color: gray;
}

.bg-gradient {
    background: linear-gradient(#6b349f, #4f55ea);
}

form {
    background-color: pink;
    margin-left: 25%;
    margin-right: 25%;
    padding-left: 2%;
    padding-right: 2%;
    height: 115vh;
    margin-bottom: 5vh;
    border-radius: 20px;
}
label {
    display: block;
    margin-top: 2vh;
    margin-bottom: 1vh;
        color: black;

}

.form-control:focus {
    box-shadow: 0px 0px 6px pink;
    border-width: 1px;
    border-color: rgba(255, 192, 203, 0.25);
}
