/* General Styling */

p, h1, h2{
    color: rgba(0, 0, 0, 1);
    
}

form {
    margin-left: 25%;
    margin-right: 25%;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 3vh;
    border-radius: 20px;
    display: block;
    padding-bottom: 2%;
    padding-top: 1%;
    height: fit-content;
}

/* Mad Lib Page Styling */
#mad-lib-form-one {
    background: linear-gradient(gray, hotpink);
}

#button {
    margin-top: 9px;
    transition: box-shadow 0.3s ease-in-out;
}

#button:hover {
    box-shadow: 0px 0px 10px white;
}

.form-control:focus {
    background-color: #E8E8E8;
}


#form-mad-lib-1 {
   background: linear-gradient(#6b349f, #4f55ea); 
   
}
label {
    display: block;
    margin-top: 2vh;
    margin-bottom: 1vh;
        color: black;

}

.form-control:focus {
    box-shadow: 0px 0px 6px pink;
    border-width: 1px;
    border-color: rgba(255, 192, 203, 0.25);
}

.mad-lib-results {
    display: inline;
}

#mad-lib-result-cover {
    background-color: white;
    position: relative;
    z-index: 1;
}

.reveal-mad-lib {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mad-lib-cover-words {
    font-size: 5em;
    padding-top: 5%;
}

#heading {
    font-size: 4em;
}

#mad-lib-result-paragraph {
    background-color: blue;
    color: white;
}

.result-paragraphs {
    position: absolute;
   
}
.result-paragraphs, #mad-lib-result-cover {
    margin-bottom: 20px;
    height: 300px;
    width: 50%;
    border-radius: 20px;
    margin-top: 20px;
}
/* END_------------- */
/* Mad Lib 2 Styling */
#mad-lib-form-two {
    background: linear-gradient(green, white);
}

#form-mad-lib-2 {
    background: linear-gradient(#6b349f, #4f55ea);
}

#result-paragraph-2 {
    background-color: purple;
    color: white;
}

/*Mad Lib 3 Styling */
#mad-lib-form-three {
    background: linear-gradient(hotpink, black);
}

#form-mad-lib-3 {
    background: linear-gradient(blue, yellow);
}

#result-paragraph-3 {
    background-color: red;
    color: white;
}
/* Navigation Bar Styling */
#nav-bg {
    background-color: white;
    height: 60px;
    width: auto;
    z-index: -1;
}
.navlinks {
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    z-index: 1;
}

#links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

/* Footer Styling */

#footer-bg {
    width: 100%;
    background-color: white;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Home Page Styling */
#go-button-container {
    display: flex;
    justify-content: right;
    height: 100px;
    width: auto;
}

.needs-a-margin{
    margin-right:  2%; 
    margin-left: 2%;
}

#start-mad-lib {
    transition: margin-top 0.3s ease-in-out;
    display: block;
    height: fit-content;

}

#start-mad-lib:hover {
    margin-top: -10px;
    

}

#footer-home {
    margin-top: 500px;
}

/* Mad Lib Selection Page Styling */
.mad-lib-selection-buttons {
    padding-top: 6%;
    padding-bottom: 6%;
    font-size: 5em;
}

a:hover {
    text-decoration: none;
}

/* Scrollbar */
html::-webkit-scrollbar {
    scroll-behavior: smooth;
    width: 19px;
}
html::-webkit-scrollbar-track{
    background: darkblue;
}

html::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 15px;
    border:3px solid black;
}

html::-webkit-scrollbar-thumb:hover {
    background: purple;
}
/* Button Stuff */
.btn-default, .wanna-be-different {
    border-radius: 20px;
}